psycopg2-binary
pandas==1.3.0
numpy
nltk
matplotlib
seaborn
scikit-learn==1.3.0
imbalanced-learn
altair
requests
streamlit
streamlit-nested-layout
streamlit-option-menu
geopandas
plotly
bokeh
flask
flask_cors
flask_sslify
webargs
gunicorn
